In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [25]:
df = pd.read_csv(r'C:\Users\kushal\Desktop\Modular_aprr\modular\ML_live_class\data\Advertising.csv')
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [26]:
x = df.drop(['sales'], axis=1)
x

        TV  radio  newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
..     ...    ...        ...
195   38.2    3.7       13.8
196   94.2    4.9        8.1
197  177.0    9.3        6.4
198  283.6   42.0       66.2
199  232.1    8.6        8.7

[200 rows x 3 columns]

In [27]:
y = df['sales']
y

0      22.1
1      10.4
2       9.3
3      18.5
4      12.9
       ...
195     7.6
196     9.7
197    12.8
198    25.5
199    13.4
Name: sales, Length: 200, dtype: float64

In [28]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

In [29]:
poly_conv = PolynomialFeatures(degree=3, include_bias=False)

In [30]:
final_model = LinearRegression

In [31]:
poly_conv.fit(x)

PolynomialFeatures(degree=3, include_bias=False)

In [32]:
poly_features = poly_conv.transform(x)

In [33]:
poly_features.shape

(200, 19)

In [34]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(poly_features, y, test_size=0.33, random_state=101)

In [35]:
from sklearn.preprocessing import StandardScaler

In [36]:
scaler = StandardScaler()

In [37]:
scaler.fit(x_train)

StandardScaler()

In [38]:
scaler_x_train = scaler.transform(x_train)

In [39]:
scaler_x_test = scaler.transform(x_test)

In [40]:
x_train[0]

array([1.87800000e+02, 2.11000000e+01, 9.50000000e+00, 3.52688400e+04,
       3.96258000e+03, 1.78410000e+03, 4.45210000e+02, 2.00450000e+02,
       9.02500000e+01, 6.62348815e+06, 7.44172524e+05, 3.35053980e+05,
       8.36104380e+04, 3.76445100e+04, 1.69489500e+04, 9.39393100e+03,
       4.22949500e+03, 1.90427500e+03, 8.57375000e+02])

In [41]:
scaler_x_train[0]

array([ 0.455913  , -0.15469995, -0.98899258,  0.23144458,  0.12990319,
       -0.57856073, -0.43655678, -0.66806654, -0.71668198,  0.02389419,
        0.04869878, -0.45436665, -0.22089285, -0.47664217, -0.51504813,
       -0.55818067, -0.60618091, -0.56426029, -0.5063835 ])

In [42]:
from sklearn.linear_model import Ridge

In [44]:
ridge_model = Ridge(alpha = 10)

In [45]:
ridge_model.fit(x_train, y_train)

Ridge(alpha=10)

In [46]:
test_predictions = ridge_model.predict(x_test)

In [47]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
MAE = mean_absolute_error(y_test, test_predictions)

In [48]:
RMSE = np.sqrt(mean_squared_error(y_test,test_predictions))

In [49]:
MAE

0.3930126552894863

In [50]:
RMSE

0.5579455029353512